<%- include("../partials/header") %>

<div class="container text-center otherProfileContainer shadow-lg">
    <img src="<%= user.profilepic %>" id="profilePic" class="rounded-circle mx-auto img-fluid d-block py-4 px-3">
            
    <div class="px-3">
        <div id="bookInfoHeader">
            <h4 class="text-center"><%= user.username %></h4>

            <% if(friend !== null && friend2 === null) { %>

                <% if(friend.status === 1) { %>
                    <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3 disabled">
                        <i class="fas fa-user-friends"></i> Requested
                    </button>

                <% } else if(friend.status === 3) { %>
                    <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3 disabled">
                        <i class="fas fa-user-friends"></i> Friends With You
                    </button>
    
                <% } else { %>
                    <form action="/greybook/friends/<%= user._id %>/friend_req" method="POST">
                        <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3">
                            <i class="fas fa-user-plus"></i> Add Friend
                        </button>
                    </form>
                <% } %> 

            <% } else if(friend === null && friend2 !== null) { %>
                <% if(friend2.status === 1) { %>
                    <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3 disabled">
                        <i class="fas fa-user-friends"></i> Waiting For Your Approval
                    </button>

                <% } else if(friend2.status === 3) { %>
                    <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3 disabled">
                        <i class="fas fa-user-friends"></i> Friends With You
                    </button>
    
                <% } else { %>
                    <form action="/greybook/friends/<%= user._id %>/friend_req" method="POST">
                        <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3">
                            <i class="fas fa-user-plus"></i> Add Friend
                        </button>
                    </form>
                <% } %> 
            
            <% } else if(friend === null && friend2 === null) { %>
                <form action="/greybook/friends/<%= user._id %>/friend_req" method="POST">
                    <button id="addFriendBtn" class="btn btn-outline-light mt-1 mb-3">
                        <i class="fas fa-user-plus"></i> Add Friend
                    </button>
                </form>
            <% } %>
            <hr>
        </div>
        <div id="bookInfoDesc" class="py-1">
            <% if(user.bio === null || user.bio === undefined) { %>
                <p>No Bio</p>
            <% } else { %>
                <p><%= user.bio %></p>
            <% } %> 
        </div>
        <div class="mb-3" id="bookInfoAssoAuthor">
            <% if(user.firstname != null) { %>
                <h6>Name: <strong><%= user.firstname %> <%= user.lastname %></strong></h6>
            <% } %>
            <h6>Email: <strong><%= user.email %></strong></h6>
            <h6>Member since <strong><%= moment(user.createdAt).fromNow() %></strong></h6>
        </div>
    </div>

    <div id="otherProfileBookCountContainer">
        <h5>
            <a href="/greybook/friends/<%= user._id %>" id="viewFriends">
                <i class="fas fa-user-friends"></i> <%= user.friends.length %> friends
            </a>
        </h5>
        <h5 class="otherProfileBookCount"><%= books.length %> books created</h5>
        <h5 class="otherProfileBookCount"><%= assoBooks.length %> books associated</h5>
    </div>
</div>

<%- include("../partials/footer") %>