<%- include("../partials/header") %>

<h1>TESTING PROFILE PAGE!</h1>
<h1>TESTING PROFILE PAGE!</h1>
<hr>

<h1><%= user.username %> Profile Page</h1>
<h3>Name: <%= user.firstname %> <%= user.lastname %></h3>
<h3>Email Address: <%= user.email %></h3>
<hr>

<h5><%= books.length %> books created.</h5>
<h5><%= assoBooks.length %> books associated.</h5>

<%- include("../partials/footer") %>