<%- include("../partials/header") %>

<div class="container-fluid pt-5 containerShowbook">
    <div class="row border">

        <!-- LEFT COLUMN SIDEBAR HERE -->
        <div class="col-xl-3 bd-sidebar shadow showSidebar">
            <div class="px-3">
                <img src="<%= user.profilepic %>" id="profilePic" class="rounded-circle mx-auto img-fluid d-block py-4 px-3">
            
                <div class="px-3">
                    <div id="bookInfoHeader">
                        <h4 class="text-center"><%= user.username %></h4>
                        <h5 class="text-center">
                            <a href="/greybook/friends/<%= user._id %>" id="viewFriends">
                                <i class="fas fa-user-friends"></i> <%= user.friends.length %> friends
                            </a>
                        </h5>
                        <hr>
                    </div>
                    <div id="bookInfoDesc" class="py-1">
                        <% if(user.bio === null || user.bio === undefined) { %>
                            <p class="text-center">No Bio</p>
                        <% } else { %>
                            <p><%= user.bio %></p>
                        <% } %>
                    </div>
                    <div class="mb-3" id="bookInfoAssoAuthor">
                        <% if(user.firstname != "") { %>
                            <h6>Name: <strong><%= user.firstname %> <%= user.lastname %></strong></h6>
                        <% } %>
                        <h6>Email: <strong><%= user.email %></strong></h6>
                        <h6>Member since <strong><%= moment(user.createdAt).fromNow() %></strong></h6>
                    </div>
                </div>
            </div>
            
            <div class="list-group profileLinkSidebar">
                <a href="/greybook/userprofile/<%= currentUser._id %>/editprofile" 
                    class="list-group-item list-group-item-action">Edit MyProfile</a>  
                <a href="/greybook/friends/<%= user._id %>" 
                    class="list-group-item list-group-item-action">Social</a>
                <a href="/greybook" 
                    class="list-group-item list-group-item-action">Go Back Home</a>  
            </div>
            
        </div> <!--- LEFT column (sidebar) end --->

        <!-- RIGHT COLUMN HERE -->
        <div class="col-xl-9 mt-4 px-0 px-lg-5" id="rightContent">

            <!-- All Books -->
            <div class="accordion my-5 accordionCollapse" id="addEntryCollapse">
                <div class="card shadow-sm">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center accordionBtn" 
                            type="button" data-toggle="collapse" data-target="#addEntryMenu" 
                            aria-expanded="true" aria-controls="addEntryMenu">Books  
                        </button>
                        </h2>
                    </div>
            
                    <div id="addEntryMenu" class="collapse show px-5 pt-2" aria-labelledby="headingOne" 
                        data-parent="#addEntryCollapse">
                        <div class="card-body">

                            <!-- Created Books -->
                            <div class="container">
                                <h2 class="text-dark galleryLabel">Created Books</h2>
                                <div class="row text-center justify-content-around">

                                    <% let count = 0; %> 
                                    <% books.forEach((book) => { %>
                                        <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                                            <% count++; %>
                                            
                                            <div class="card border-secondary mb-5 col-12 col-lg-6 col-xl-4 shadow-sm homeCards">
                                                <div class="card-header"><%= book.type %></div>
                                                <div class="card-body text-primary text-left homeCardBody">
                                                    <h5 class="card-title">
                                                        <a class="card-title homeBookTitle" href="/greybook/<%= book._id %>">
                                                            <%= book.title.substring(0, 30) %>
                                                        </a>
                                                    </h5>
                                                    <a class="card-text homeBookDesc" href="/greybook/<%= book._id %>">
                                                        <%= book.desc.substring(0, 90) %>...
                                                    </a>
                                                </div>
                                            </div> 

                                        <% } %>
                                    <% }); %> 
                                    <% if(count == 0) { %>
                                        <p class="noBookNotif pt-3">You do not have any created books.</p>
                                        <div class="container pb-5 mb-3">
                                            <div class="row justify-content-center">
                                                <a class="btn btn-lg btn-outline-dark" href="/greybook/new" role="button">
                                                    Create One Now!
                                                </a>
                                            </div>
                                        </div>
                                    <% } %>  

                                </div>
                                <hr>
                            </div>

                            <!-- Associated Books -->
                            <div class="container my-5">
                                <h2 class="text-dark galleryLabel">Associated Books</h2>
                                <div class="row text-center justify-content-around">

                                    <% let countAsso = 0; %> 
                                    <% assoBooks.forEach((assoBook) => { %>
                                        <% countAsso++; %>

                                        <div class="card border-light mb-5 col-12 col-lg-6 col-xl-4 shadow-sm homeCards">
                                            <div class="card-header"><%= assoBook.type %></div>
                                            <div class="card-body text-primary text-left homeCardBody">
                                                <h5 class="card-title">
                                                    <a class="card-title homeBookTitle" href="/greybook/<%= assoBook._id %>">
                                                        <%= assoBook.title.substring(0, 30) %>
                                                    </a>
                                                </h5>
                                                <a class="card-text homeBookDesc" href="/greybook/<%= assoBook._id %>">
                                                    <%= assoBook.desc.substring(0, 90) %>...
                                                </a>
                                            </div>
                                        </div>

                                    <% }); %>  
                                    <% if(countAsso == 0) { %>
                                        <p class="noBookNotif pt-3">No associated books.</p>
                                    <% } %> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--- RIGHT column end --->

    </div> <!--- main row end --->
</div> <!--- main container end --->

<%- include("../partials/footer") %>