<%- include("../partials/header") %>

<div class="container-fluid pt-5 containerShowbook">
    <div class="row border">

        <!-- LEFT COLUMN SIDEBAR HERE -->
        <div class="col-xl-3 bd-sidebar shadow showSidebar">
            <div class="px-3">
                <img src="<%= user.profilepic %>" id="profilePic" class="rounded-circle mx-auto img-fluid d-block py-4 px-3">
            
                <div class="px-3">
                    <div id="bookInfoHeader">
                        <h4 class="text-center"><%= user.username %></h4>
                        <h5 class="text-center">
                            <a href="/greybook/friends/<%= user._id %>" id="viewFriends">
                                <i class="fas fa-user-friends"></i> <%= user.friends.length %> friends
                            </a>
                        </h5>
                        <hr>
                    </div>
                    <div id="bookInfoDesc" class="py-1">
                        <% if(user.bio === null || user.bio === undefined) { %>
                            <p class="text-center">No Bio</p>
                        <% } else { %>
                            <p><%= user.bio %></p>
                        <% } %>
                    </div>
                    <div class="mb-3" id="bookInfoAssoAuthor">
                        <% if(user.firstname != null) { %>
                            <h6>Name: <strong><%= user.firstname %> <%= user.lastname %></strong></h6>
                        <% } %>
                        <h6>Email: <strong><%= user.email %></strong></h6>
                        <h6>Member since <strong><%= moment(user.createdAt).fromNow() %></strong></h6>
                    </div>
                </div>
            </div>
            
            <div class="list-group profileLinkSidebar">
                <a href="/greybook/userprofile/<%= currentUser._id %>/editprofile" 
                    class="list-group-item list-group-item-action">Edit MyProfile</a>  
                <a href="/greybook/friends/<%= user._id %>" 
                    class="list-group-item list-group-item-action">Social</a>
                <a href="/greybook" 
                    class="list-group-item list-group-item-action">Go Back Home</a>  
            </div>
            
        </div> <!--- LEFT column (sidebar) end --->

        <!-- RIGHT COLUMN HERE -->
        <div class="col-xl-9 mt-4 px-0 px-lg-5" id="rightContent">

            <!-- All Books -->
            <div class="accordion my-5 accordionCollapse" id="addEntryCollapse">
                <div class="card shadow-sm">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center accordionBtn" 
                            type="button" data-toggle="collapse" data-target="#addEntryMenu" 
                            aria-expanded="true" aria-controls="addEntryMenu">All Books  
                        </button>
                        </h2>
                    </div>
            
                    <div id="addEntryMenu" class="collapse show px-5 pt-2" aria-labelledby="headingOne" 
                        data-parent="#addEntryCollapse">
                        <div class="card-body">

                            <div class="container px-lg-0">
                                <h2 class="text-dark galleryLabel d-inline">Created Books</h2>
                                <hr class="gallery">
                                <div class="row text-center justify-content-around">
                            
                                    <% let count = 0; %> 
                                    <% books.forEach((book) => { %>
                                        <% count++; %> 
                                        <div class="col-12 col-lg-6">
                                            <div class="card border-0 mx-auto mt-3 mb-3 shadow homeCards">
                                                <a href="/greybook/<%= book._id %>">
                                                    <img src="<%= book.cover %>" class="card-img-top" alt="...">
                                                </a>
                                                <div class="card-body homeCardBody">
                                                    <a class="card-title text-light homeBookTitle" href="/greybook/<%= book._id %>">
                                                        <%= book.title %> (<%= book.type %>)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %> 
                                    <% if(count == 0) { %>
                                        <p class="noBookNotif pt-3">No created books.</p>
                                    <% } %>  
                            
                                </div>
                            </div>
                            
                            <br>
                            <br>
                            <br>
                            
                            <div class="container mb-5">
                                <h2 class="text-dark galleryLabel">Associated Books</h2>
                                <hr class="gallery">
                                <div class="row text-center justify-content-around">
                            
                                    <% let countAsso = 0; %> 
                                    <% assoBooks.forEach((assoBook) => { %>
                                        <% countAsso++; %> 
                                        <div class="col-12 col-lg-6">
                                            <div class="card border-0 mx-auto mt-3 mb-3 shadow homeCards">
                                                <a href="/greybook/<%= assoBook._id %>">
                                                    <img src="<%= assoBook.cover %>" class="card-img-top" alt="...">
                                                </a>
                                                <div class="card-body homeCardBody">
                                                    <a class="card-title text-light homeBookTitle" href="/greybook/<%= assoBook._id %>">
                                                        <%= assoBook.title %> (<%= assoBook.type %>)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                    <% if(countAsso == 0) { %>
                                        <p class="noBookNotif pt-3">No associated books.</p>
                                    <% } %> 
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--- RIGHT column end --->

    </div> <!--- main row end --->
</div> <!--- main container end --->

<%- include("../partials/footer") %>