<%- include("../partials/header") %>

<div class="container editEntryContainer">
    <h1>Social</h1>

    <!-- Search bar -->
    <div class="form-group text-center my-4">
        <form action="/greybook/search/results" method="GET">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-10">
                        <input type="text" class="form-control" name="search" id="search" placeholder="Search username...">
                    </div>
                    <div class="col-3 col-lg-2">
                        <button type="submit" class="btn btn-outline-success px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Friend Request -->
    <h4 class="socialSubHeader">Friend Request</h4>
    <% if(requests.length === 0) { %>
        <div class="container">
            <p class="friendReqDetails">No friend request.</p>
            <hr>
        </div>
    <% } else { %>
        <% requests.forEach((request) => { %>
            <div class="container">
                <div class="row">
                    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
                        <img src="<%= request.requester.profilepic %>" class="rounded-circle img-fluid d-block ml-5 py-4 px-3 friendDp">
                    </div>
                    <div class="col-7 col-md-8 col-lg-9 col-xl-10 my-auto p-0">
                        <a class="userlink" href="/greybook/userprofile/<%= request.requester._id %>"><%= request.requester.username %></a>
                        <p class="friendReqDetails">Requested <%= moment(request.createdAt).fromNow() %></p>
                        <form class="d-inline" action="/greybook/friends/<%= currentUser._id %>/<%= request.requester._id %>/status_3?_method=PUT" 
                            method="POST">
                            <button class="btn btn-sm btn-outline-success">Approve</button>
                        </form>
                        <form class="d-inline" action="/greybook/friends/<%= currentUser._id %>/<%= request.requester._id %>/status_2?_method=PUT" 
                            method="POST">
                            <button class="btn btn-sm btn-outline-danger ml-2">Decline</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
        <% }); %>
    <% } %>

    <!-- Sent Requests -->
    <h4 class="socialSubHeader">Sent Request</h4>
    <% if(pendings.length === 0) { %>
        <div class="container">
            <p class="friendReqDetails">No pending sent request.</p>
        </div>
    <% } else { %>
        <% pendings.forEach((pending) => { %>
            <div class="container">
                <div class="row">
                    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
                        <hr>
                        <img src="<%= pending.recipient.profilepic %>" 
                            class="rounded-circle img-fluid d-block ml-5 py-4 px-3 friendDp">
                    </div>
                    <div class="col-7 col-md-8 col-lg-9 col-xl-10 my-auto p-0">
                        <a class="userlink" href="/greybook/userprofile/<%= pending.recipient._id %>"><%= pending.recipient.username %></a>
                        <p class="friendReqDetails">Pending request. Still waiting for approval.</p>
                        <p class="friendReqDetails">Requested <%= moment(pending.createdAt).fromNow() %></p>
                    </div>
                </div>
            </div>
        <% }); %> 
    <% } %> 

    <!-- Friends List -->
    <div class="container border rounded my-5">
        <h4 class="socialSubHeader">Friends List</h4>
        <% if(user.friends.length === 0) { %>
            <p class="friendReqDetails">You do not have any friends. Search for a user and make a friend request.</p>
            <hr>
            
        <% } else { %>
            <% user.friends.forEach((friend) => { %>
                <div class="row">
                    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
                        <img src="<%= friend.profilepic %>" 
                            class="rounded-circle img-fluid d-block ml-5 py-4 px-3 friendDp">
                    </div>
                    <div class="col-7 col-md-8 col-lg-9 col-xl-10 my-auto p-0">
                        <a class="userlink" href="/greybook/userprofile/<%= friend._id %>"><%= friend.username %></a>
                    </div>
                </div>
                <hr>
            <% }); %>
        <% } %> 
    </div>
</div>

<%- include("../partials/footer") %>
