<%- include("../partials/header") %>

<div class="container editEntryContainer">
    <h1 class="mb-4">Edit Entry</h1>
    <form action="/greybook/<%= book._id %>/entry/<%= entry._id %>?_method=PUT" method="POST">

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="entryDateInput">Date </label>
                    <input class="form-control form-control-lg" value="<%= entry.date %>" type="date" name="date" id="entryDateInput" required>
                </div>

                <div class="col">
                    <label for="entryType">Entry Type </label>
                    <select class="form-control form-control-lg" id="entryType" name="entrytype">
                        <% if(entry.type === "loan") { %>
                            <option value="loan" selected="selected">Loan</option>
                            <option value="payment">Payment</option>
                        <% } else { %>
                            <option value="loan">Loan</option>
                            <option value="payment" selected="selected">Payment</option>
                        <% } %> 
                        
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="entryDescInput">Description </label>
            <input class="form-control form-control-lg" value="<%= entry.description %>" type="text" name="description" 
                id="entryDescInput" maxlength="72" required>
            <small class="form-text text-muted text-left pl-1">
                Give your entry a brief description of what it is about. 72 characters max.
            </small>
        </div>

       <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="entryAmountInput">Amount </label>
                    <input class="form-control form-control-lg" value="<%= entry.amount %>" type="number" name="amount" id="entryAmountInput" required>
                </div>
                <% if(book.associates.length !== 0) { %>
                    <div class="col">
                        <label for="tofrom">To/From </label>
                        <select class="form-control form-control-lg" id="tofrom" name="tofrom">
                            <% for(let associate of book.associates) { %>
                                <% if(entry.tofrom.id.equals(associate.id)) { %>
                                    <option value="<%= associate.id %>" selected="selected">
                                        <%= associate.username %>
                                    </option>
                                <% } else { %>
                                    <option value="<%= associate.id %>">
                                        <%= associate.username %>
                                    </option>
                                <% } %> 
                            <% } %> 
                        </select>
                    </div>
                <% } %> 
            </div>
        </div>
        <button class="btn btn-lg btn-dark mt-5 mb-2 d-block mx-auto">Update Entry</button>
    </form>

    <div class="text-center">
        <a class="btn btn-lg btn-secondary" href="/greybook/<%= book._id %>">Cancel</a>
    </div>


    <form action="/greybook/<%= book._id %>/entry/<%= entry._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger btn-sm mt-5 d-block mx-auto">Delete Entry</button>
    </form>
</div>

<%- include("../partials/footer") %>