<%- include("../partials/header") %>

<div class="container container-newbook">
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-4">
                <i class="fas fa-book fa-4x mb-4 text-dark"></i>
                <h1 class="h3 mb-3 formHeader text-dark">Create New Book</h1>
            </div> 
            <form class="px-5" action="/greybook/new" method="POST">
                <div class="form-group px-5">
                    <label class="mt-3 d-block text-left newbookLabel" for="booktype">Book Type </label>
                    <select class="form-control form-control-lg" name="type" id="booktype">
                        <option value="Loan Record Book">Loan Record Book</option>
                        <option value="Cook Book" disabled>Cook Book</option>
                    </select>
                    <label class="mt-3 d-block text-left newbookLabel" for="booktitle">Book Title </label>
                    <input class="form-control form-control-lg" type="text" id="booktitle" 
                        name="title" maxlength="32" required>
                    <small class="form-text text-muted text-left pl-1">
                        32 characters max.
                    </small>

                    <label class="mt-3 d-block text-left newbookLabel" for="booktitle">Book Description </label>
                    <input class="form-control form-control-lg" type="text" id="bookdesc" 
                        name="desc" maxlength="160" required>
                    <small class="form-text text-muted text-left pl-1">
                        Give your book a brief description of what it is about. 160 characters max.
                    </small>

                    <label class="mt-4 d-block text-left newbookLabel">Book Cover </label>
                    <div class="coverSelectBox">
                        <div>
                            <select class="form-control" name="cover" id="bookcover">
                                <option value="/img/book1.jpg">GreyBook Cover Image 1</option>
                                <option value="/img/book2.jpg">GreyBook Cover Image 2</option>
                                <option value="/img/book3.jpg">GreyBook Cover Image 3</option>
                            </select>
                        </div>
                        <div>
                            <img src="/img/book1.jpg" id="coverImage" class="rounded mx-auto img-fluid d-block coverSelectImg">
                        </div>
                    </div>

                    <label class="mt-4 d-block text-left newbookLabel">Add associates </label>
                    <div class="addAssoBox">
                        <% for(let i = 0; i < users.length; i++) { %> 
                            <% if(!currentUser._id.equals(users[i]._id)) { %>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="<%= 'associate' + i %>" 
                                        name="associate" value="<%= users[i]._id %>">
                                    <label class="custom-control-label newbookLabel" for="<%= 'associate' + i %>">
                                        <%= users[i].username %>
                                    </label>
                                </div>
                            <% } %>
                        <% } %> 
                    </div>    
                    
                    <button type="submit" class="btn btn-lg btn-block btn-dark mt-5 mb-3">Create Book</button>
                    <a href="/greybook">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#bookcover").change(function(){
            $("img[id=coverImage]").attr("src",$(this).val());
        });
    });
</script>

<%- include("../partials/footer") %>