<%- include("../partials/header") %>

<div class="container-fluid pt-5 containerShowbook">
    <div class="row border">

        <!-- LEFT COLUMN SIDEBAR HERE -->
        <div class="col-xl-3 bd-sidebar shadow showSidebar">
            <div class="px-3">
                <img src="<%= book.cover %>" id="coverImage" class="rounded mx-auto img-fluid d-block py-4 px-3">
            
                <div class="px-3">
                    <div id="bookInfoHeader">
                        <h4><%= book.title %></h4>
                        <h5><%= book.type %></h5>
                        <hr>
                    </div>
                    <div id="bookInfoDesc" class="py-1">
                        <p><%= book.desc %></p>
                    </div>
                    <div class="mb-3" id="bookInfoAssoAuthor">
                        <h6 class="d-inline">Associates: </h6>
                        <% for(let i = 0; i < book.associates.length; i++) { %>
                            <% if(i < book.associates.length - 1) { %>
                                <span id="infoAsso"><strong><%= book.associates[i].username %>,</strong></span>
                            <% } else { %>
                                <span id="infoAsso"><strong><%= book.associates[i].username %></strong></span>
                            <% } %>         
                        <% } %> 
            
                        <h6>Author: <strong><%= book.author.username %></strong></h6>
                        <h6>Created: <em><%= book.created.toDateString() %> </em><strong>(<%= moment(book.created).fromNow() %>)</strong></h6>
                    </div>
                </div>
            </div>
            <div class="list-group profileLinkSidebar">
                <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                    <a class="list-group-item list-group-item-action" 
                        href="/greybook/<%= book._id %>/bookedit">Edit Book</a>
                <% } %> 
                <a href="/greybook" class="list-group-item list-group-item-action">Go Back Home</a>
            </div>
        </div> <!--- LEFT column (sidebar) end --->

        <!-- RIGHT COLUMN HERE -->
        <div class="col-xl-9 mt-4 px-0 px-lg-5" id="rightContent">
            <!-- SHOW ENTRIES -->
            <div>
                <h3 class="py-2" id="viewEntriesHeader">Book Entries</h3>
                <% if(book.entries.length === 0) { %>
                    <p class="noEntriesComment">There are no entries.</p>
                <% } else { %>
                    <table class="table table-striped" id="entriesTable">
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>To/from</th>
                        </tr>
                        <% for(let entry of book.entries) { %>
                            <tr>
                                <td><%= entry.date %></td>
                                <td id="entryDesc"><%= entry.description %></td>
                                
                                <% if(entry.type === "payment") { %>
                                    <td class="text-success">-$ <%= entry.amount %></td>
                                <% } else { %>
                                    <td>$ <%= entry.amount %></td>
                                <% } %>
                                <td><%= entry.type.toUpperCase() %></td>
                                <td id="entryTofrom"><%= entry.tofrom.username %></td>
                                <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                                    <td id="editEntryBtn">
                                        <a href="/greybook/<%= book._id %>/entry/<%= entry._id %>/editentry">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>
                                <% } %> 
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>

            <!-- ADD NEW ENTRY PANEL (ONLY VISIBLE TO BOOK AUTHOR) -->
            <% if(currentUser && currentUser._id.equals(book.author.id)) { %>     
                <div class="accordion my-5 accordionCollapse" id="addEntryCollapse">
                    <div class="card shadow-sm">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center accordionBtn" 
                                type="button" data-toggle="collapse" data-target="#addEntryMenu" 
                                aria-expanded="true" aria-controls="addEntryMenu">Add New Entry  
                            </button>
                            </h2>
                        </div>
                
                        <div id="addEntryMenu" class="collapse px-5 pt-2" aria-labelledby="headingOne" 
                            data-parent="#addEntryCollapse">
                            <div class="card-body">
                                <form action="/greybook/<%= book._id %>/newentry" method="POST">
                                    <div class="form-group">
                                        <label class="showBookLabels" for="entryDateInput">Date </label>
                                        <input class="form-control" type="date" name="date" id="entryDateInput" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="showBookLabels" for="entryDescInput">Description </label>
                                        <input class="form-control" type="text" name="description" 
                                            id="entryDescInput" maxlength="72" required>
                                        <small class="form-text text-muted text-left pl-1">
                                            Give your entry a brief description of what it is about. 72 characters max.
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label class="showBookLabels" for="entryAmountInput">Amount </label>
                                        <input class="form-control" type="number" name="amount" id="entryAmountInput" required>
                                    </div>
                                    <div class="form-group">
                                        <label  class="showBookLabels"for="entryType">Entry Type </label>
                                        <select class="form-control" id="entryType" name="entrytype">
                                            <option value="loan">Loan</option>
                                            <option value="payment">Payment</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="showBookLabels" for="tofrom">To/From </label>
                                        <select class="form-control" id="tofrom" name="tofrom">
                                            <% for(let associate of book.associates) { %>
                                                <option value="<%= associate.id %>">
                                                    <%= associate.username %>
                                                </option>
                                            <% } %> 
                                        </select>
                                    </div>
                                    <button class="btn btn-lg btn-block btn-dark mt-5 mb-4">Add Entry</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %> <!-- Add new entry section ends here -->
            
            <!-- SHOW COMMENTS -->
            <div class="accordion my-5 accordionCollapse" id="commentCollapse">
                <div class="card shadow-sm">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center accordionBtn" 
                            type="button" data-toggle="collapse" data-target="#commentMenu" 
                            aria-expanded="true" aria-controls="commentMenu">Comments  
                        </button>
                        </h2>
                    </div>
            
                    <div id="commentMenu" class="collapse show px-5 pt-2" aria-labelledby="headingOne" 
                        data-parent="#commentCollapse">
                        <div class="card-body">
                            <form action="/greybook/<%= book._id %>/comment/newcomment" method="POST">
                                <div class="form-group">
                                    <label class="showBookLabels" for="newComment">New comment </label>
                                    <input class="form-control" type="text" name="newcomment" id="newComment">
                                </div>
                                
                                <button class="btn btn-lg btn-block btn-dark my-4">Add Comment</button>
                            </form>
                            <% if(book.comments.length === 0) { %>
                                <p class="noEntriesComment">No comments.</p>

                            <% } else { %>
                                <% for(let i = book.comments.length - 1; i >= 0; i--) { %>
                                    <strong><%= book.comments[i].author.username %></strong>
                                    <span class="float-right"><%= moment(book.comments[i].created).fromNow() %></span>
                                    
                                    <!-- Edit COMMENT section STARTS here -->
                                    <% if(currentUser && currentUser._id.equals(book.comments[i].author.id)) { %>
                                        
                                        <a class="pl-3" data-toggle="collapse" href="#collapseEditComment<%= i %>" role="button" 
                                        aria-expanded="false" aria-controls="collapseEditComment<%= i %>">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <div class="collapse" id="collapseEditComment<%= i %>">
                                            <div class="">
                                                <form action="/greybook/<%= book._id %>/comment/<%= book.comments[i].id %>?_method=PUT" method="POST">
                                                    <input class="form-control mt-3" type="text" name="comment" 
                                                        id="comment" value="<%= book.comments[i].text %>">
                                                    <button class="btn btn-dark mt-3">Update</button>
                                                </form>
                                                <form action="/greybook/<%= book._id %>/comment/<%= book.comments[i].id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-sm btn-outline-danger mt-2 mb-3">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    <% } %> <!-- Edit comment ends here -->

                                    <p id="commentText"><%= book.comments[i].text %></p>
                                    <hr>
                                <% } %>
                            <% } %> 
                        </div>
                    </div>
                </div>

            </div> <!-- Comment section ends here -->
            
        </div> <!--- RIGHT column end --->

    </div> <!--- main row end --->
</div> <!--- main container end --->

<%- include("../partials/footer") %>