<%- include("../partials/header") %>

<div class="container-fluid pt-5 containerShowbook">
    <div class="row border">
        <div class="col-3 d-none d-md-block bd-sidebar shadow showSidebar">
            <img src="<%= book.cover %>" id="coverImage" class="rounded mx-auto img-fluid d-block py-4 px-3">
            
            <div class="px-3">
                <div id="bookInfoHeader">
                    <h4><%= book.title %></h4>
                    <h5><%= book.type %></h5>
                    <hr>
                </div>
            
                <div id="bookInfoDesc" class="py-1">
                    <p><%= book.desc %></p>
                </div>

                <div class="mb-3" id="bookInfoAssoAuthor">
                    <h6 class="d-inline">Associates: </h6>
                    <% for(let i = 0; i < book.associates.length; i++) { %>
                        <% if(i < book.associates.length - 1) { %>
                            <span id="infoAsso"><strong><%= book.associates[i].username %>,</strong></span>
                        <% } else { %>
                            <span id="infoAsso"><strong><%= book.associates[i].username %></strong></span>
                        <% } %>         
                    <% } %> 
        
                    <h6>Author: <strong><%= book.author.username %></strong></h6>
                    <h6>Created on: <strong><%= book.created.toDateString() %></strong></h6>
                </div>
                
                <div class="pb-4" id="bookInfoEditGoback">
                    <a href="/greybook">Go back</a>
                    <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                        <a class="pl-3" href="/greybook/<%= book._id %>/bookedit">Edit book</a>
                    <% } %> 
                </div>
            </div>
        </div>
            
        

        <div class="col-9 mt-4">
            <!-- SHOW ENTRIES -->
            <div>
                <h3>View all entries: </h3>
                <% if(book.entries.length === 0) { %>
                    <p>There are no entries</p>
                <% } else { %>
                    <table id="entriesDisp">
                        <tr>
                            <th><strong>Date</strong></th>
                            <th><strong>Description</strong></th>
                            <th><strong>Amount</strong></th>
                            <th><strong>Type</strong></th>
                            <th><strong>To/from</strong></th>
                        </tr>
                        <% for(let entry of book.entries) { %>
                            <tr>
                                <td><%= entry.date %></td>
                                <td><%= entry.description %></td>
                                
                                <% if(entry.type === "payment") { %>
                                    <td>-$ <%= entry.amount %></td>
                                <% } else { %>
                                    <td>$ <%= entry.amount %></td>
                                <% } %>
                                <td><%= entry.type.toUpperCase() %></td>
                                <td><%= entry.tofrom.username %></td>
                                <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                                    <td>
                                        <a href="/greybook/<%= book._id %>/<%= entry._id %>/editentry">
                                            Edit entry
                                        </a>
                                    </td>
                                <% } %> 
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>
            <!-- ADD NEW ENTRY PANEL (ONLY VISIBLE TO BOOK AUTHOR) -->
            <% if(currentUser && currentUser._id.equals(book.author.id)) { %>
                <form action="/greybook/<%= book._id %>/newentry" method="POST">
                    <h3>Add new entry: </h3>
                    <input type="date" name="date" required>
                    <input type="text" placeholder="Description" name="description"required>
                    <input type="number" placeholder="Amount" name="amount" required>
                
                    <label for="entryType">Entry type:</label>
                    <select id="entryType" name="entrytype">
                        <option value="loan">Loan</option>
                        <option value="payment">Payment</option>
                    </select>
                
                    <label for="tofrom">To/From:</label>
                    <select name="tofrom" id="tofrom">
                        <% for(let associate of book.associates) { %>
                            <option value="<%= associate.id %>">
                                <%= associate.username %>
                            </option>
                        <% } %> 
                    </select>
                
                    <button>Add entry</button>
                </form>
            <% } %>

            <!-- SHOW COMMENTS -->
            <div>
                <hr>
                <h3>Comments: </h3>
                <form action="/greybook/<%= book._id %>/comment/newcomment" method="POST">
                    <label for="TnewComment">New comment: </label>
                    <input type="text" name="newcomment" id="newComment" placeholder="Enter comment here...">
                    <button>Add comment</button>
                </form>
                <hr>
                <% if(book.comments.length === 0) { %>
                    <p>No comments.</p>
                <% } else { %>
                    <% for(let comment of book.comments) { %>
                        <strong><%= comment.author.username %></strong>
                        <span>3 days ago</span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>
                            <!-- Edit comment page -->
                            <a href="/greybook/<%= book._id %>/comment/<%= comment.id %>/commentedit">Edit</a>
                        <% } %> 
                        <hr>
                    <% } %>
                <% } %> 
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>