<%- include("../partials/header") %>

<div class="container container-newbook">

    <div class="text-center">
        <i class="fas fa-book fa-4x mb-4 text-dark"></i>
        <h1 class="h3 formHeader text-dark">Create New Book</h1>
    </div> 

    <form class="px-5" action="/greybook/new" method="POST">
        <div class="form-group px-5">
            <div class="row">
                <div class="col">
                    <label class="mt-3 d-block text-left newbookLabel" for="booktype">Book Type </label>
                    <select class="form-control form-control-lg" name="type" id="booktype">
                        <option value="Loan Record Book">Loan Record Book</option>
                        <option value="Cook Book" disabled>Cook Book</option>
                    </select>
                </div>

                <div class="col">
                    <label class="mt-3 d-block text-left newbookLabel" for="booktitle">Book Title </label>
                    <input class="form-control form-control-lg" type="text" id="booktitle" 
                        name="title" maxlength="32" required>
                    <small class="form-text text-muted text-left pl-1">
                        32 characters max.
                    </small>
                </div>
            </div>

            <label class="mt-3 d-block text-left newbookLabel" for="booktitle">Book Description </label>
            <input class="form-control form-control-lg" type="text" id="bookdesc" 
                name="desc" maxlength="160" required>
            <small class="form-text text-muted text-left pl-1">
                Give your book a brief description of what it is about. 160 characters max.
            </small>

            <label class="mt-4 d-block text-left newbookLabel">Add Associates 
                <i class="fas fa-question-circle" data-toggle="collapse" href="#collapseAssoInfo" role="button" aria-expanded="false" aria-controls="collapseAssoInfo"></i>
            </label>
            <div class="collapse" id="collapseAssoInfo">
                <div class="card card-body text-left">
                    <p>Book Associates are someone you borrowed/lended money to, or someone just being an eye witness.</p>
                    <p>Invite your friends as an associate of this book.</p> 
                    <p>Associates are authorized for a view-only (no editting to any part of the book).</p> 
                    <p>Books will be featured in associates' home page under 'Associated Books' menu.</p> 
                    <p>
                        <strong>Note that</strong> 
                        if you want to keep this book completely private, then leave these unckecked.
                    </p>    
                </div>
            </div>
            <div class="addAssoBox">
                <% if(user.friends.length === 0) { %>
                    <p>You do not have any friend to add as your book associate.</p>
                <% } else { %>
                    <% for(let i = 0; i < user.friends.length; i++) { %> 
                        <div class="custom-control custom-checkbox ml-3">
                            <input class="custom-control-input" type="checkbox" id="<%= 'associate' + i %>" 
                                name="associate" value="<%= user.friends[i]._id %>">
                            <label class="custom-control-label newbookLabel" for="<%= 'associate' + i %>">
                                <%= user.friends[i].username %>
                            </label>
                        </div>
                    <% } %> 
                <% } %>
            </div>    
            
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-dark my-3 mt-4">Create Book</button>
            </div>
            <div class="text-center">
                <a class="btn btn-lg btn-secondary" href="/greybook">Cancel</a>
            </div>          
        </div>
    </form>

</div>

<script>
    $(document).ready(function(){
        $("#bookcover").change(function(){
            $("img[id=coverImage]").attr("src",$(this).val());
        });
    });
</script>

<%- include("../partials/footer") %>